*{
    margin: 0;
    /* background-color:#252525;  */
    color: white;
    font-family: 'Roboto', sans-serif;   
}
.margin{
    margin-left: 20px;
}

.cursor{
    cursor: pointer;
}
.bg-clr{
    background-color: rgb(15, 14, 14);
}
.outer-mg{
    margin: 0px;
}
.logo-hgt{
    height: 50px;
    }
.logo-w {
    width: 100px;
}
.btn-h {
    height: 50px;
    
}

.b-m{
    margin-left: 10px;
}
.btn-bg{
    background-color: rgb(15, 14, 14);
}
.btn-fclr{
    color: white;
}
.a{
    text-decoration: none;
}
.flex-box{
    display: flex ;
    align-items: center;
}
.poster{
    height: 120px;
    width: 200px;
    margin-left: 20px;
    margin-top: 0px;
}
.z {
transition: transform .2s; 
}
.z:hover{
    transform: scale(1.1);
    }
.btn-bdr {
    border: none;
}
.nav-f-size{
    font-size: 1.1rem;
}
.nav-mg{
    margin-left: 10px;
}
.search-mg{
    margin-left: 100px;
    padding-left: 150px;
}
.s-w{
    width: 200px;
}
.head-f-size{
    font-size: 2.2rem;
}
.head-clr{
    background-color: rgb(20, 20, 20)
}
.head-pd{
    padding: 15px;
    padding-left: 30px;
}
.pd{
    padding-left: 10px;
}
.m{
    margin-bottom: 10px;
}
.cat-pd{
  padding-left: 30px;
  padding-bottom: 20px;
}
.allcatg-h {
    height: 700px;
}
.icon{
    height: 40px;
    width: 40px;
    margin-left: 20px;
}