*{
    margin: 0;
    /* background-color:#252525;  */
    color: white;
    font-family: 'Roboto', sans-serif;
    
}

.cursor{
    cursor: pointer;
}
.bg-clr{
    background-color: rgb(15, 14, 14);
}
.outer-mg{
    margin: 0px;
}
.logo-hgt{
    height: 100px;
    }
.logo-w {
    width: 200px;
}
.btn-h {
    height: 50px;
}
.btn-m {
    margin-left:30px;
}
.btn-bg{
    background-color: rgb(15, 14, 14);
}
.btn-fclr{
    color: white;
}
.a{
    text-decoration: none;
}
.flex-box{
    display: flex ;
    align-items: center;
}
.poster{
    height: 200px;
    width: 350px;
    margin-left: 10px;
    margin-top: 20px;
}

.btn-bdr {
    border: none;
}
.nav-f-size{
    font-size: 1.1rem;
}
.nav-mg{
    margin-left: 10px;
}
.search-mg{
    margin-left: 700px;
}
.head-f-size{
    font-size: 2.2rem;
}
.head-clr{
    background-color: rgb(20, 20, 20)
}
.head-pd{
    padding: 20px;
}
.cat-pd{
  padding-left: 20px;
  padding-bottom: 5px;
}
.allcatg-h {
    height: 700px;
}
.icon{
    height: 40px;
    width: 40px;
    margin-left: 20px;
}